<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
	
	<div id="displayDiv">
	
	</div>
	
	<script type="text/javascript">
		var source="<h1><p>{{name}}</p> <p>{{userid}}</p> <p>{{addr}}</p> </h1>";
		var template=Handlebars.compile(source);
		var data={name: "홍길동", userid: "user00", addr: "조선 한양"}
		$("#displayDiv").html(template(data));
	</script>
</body>
</html>